.header {
    background-color: #fafafa;
    position: fixed;
    min-height: 76px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 16px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.header .navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

.header .navbar .container-fluid {
    padding: 0;
}

.header .toc-menu {
    position: relative;
    font-size: 24px !important;
    padding: 16px 18px;
    /*color: black;*/
    color: #176696;
    float: left;
    cursor: pointer;
    transition: all 0.1s;
    margin-top: 9px;
}

.header .toc-menu:hover {
    background-color: #e7e7e7;
    border-radius: 50%;
    color: black;
}

.header .logo-link {
    position: relative;
    display: block;
    max-width: 94px;
    float: left;
    cursor: pointer;
    left: 2%;
    margin-top: 6px;
} 

.header .vlabs-logo {
    float: left;
    width: 131%;
}

.header .exp-title {
    transform: translate(-50%, -50%);
    display: inline-block;
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 23px;
    color: #000;
    left: 50%;
}

.header .social-handlers {
    list-style-type: none;
    float: right;
    padding: 28px 0;
    margin: 0;
}

.header .social-handlers li {
    display: inline;
    padding: 20px;
    cursor: pointer;
}

.header .social-handlers li:hover {
    opacity: 0.6;
}

.fa-gitlab {
    color: #fca326 !important;
    font-size: 1.8em;
}

.fa-twitter {
    color: rgb(29, 161, 242);
    font-size: 1.8em;
}

.fa-facebook {
    color: #385898 !important;
    font-size: 1.8em;
}

@media screen and (max-width: 600px) {
    .exp-title {
        display: none !important;
    }
}
