.content {
   position: relative;
   transition: margin-left .5s;
   padding-top: 75px;
   min-height: 100vh;
}

.prev, .next {
    position: fixed;
    display: inline-block;
    top: 50%;
    color: #000;
    padding: 16px 16px;
    font-size: 180%;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: #176696;
    cursor: pointer;
}

#feedback-container iframe {
    width: 100% !important;
    height: 100vh !important;
    border: 0 !important;
    padding-top: 20px;
}
